<style scoped lang="scss">
    .vc-button
    {
        @include flex($alignItems: center, $justifyContent: center);
        color: var(--kr-color-label-primary);
        padding: 8px 16px;
        border-radius: 8px;
        background-color: transparent;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        white-space: nowrap;
        background-color: var(--kr-color-background-primary);

        @include kiraFont(m-h3);
        @include transition($props: (opacity, background-color, color));

        &.vc-button-m {
            padding: 8px 16px;
        }

        &.vc-button-s {
            padding: 6px 12px;
        }

        &.vc-text-red {
            color: var(--kr-color-tint-red-50)!important;
        }

        &.vc-button-icon {
            width: 56px;
            height: 44px;
            .vc-icon {
                width: 22px;
            }
        }

        &:hover
        {
            background-color: var(--kr-color-fill-quaternary);
        }

        &:active {
            color: var(--kr-color-label-secondary);
        }

        &.vc-button-disabled
        {
            opacity: 0.4;
            pointer-events: none;
            cursor: initial;
        }
        

    }
</style>

<template>
    <div class="vc-button"
       @click="onClick"
       @keyup="onKeyUp"

       :tabindex="disabled ? undefined : '0'"
       :class="{
        'vc-button-icon': icon,
        'vc-button-disabled': disabled,
        'vc-text-red': red,
        'vc-button-m': size === 'M' || size === 'm',
        'vc-button-s': size === 'S' || size === 's'
        }"

        :style="{
            'padding': padding !== ''
        }"
    
    >
        <div class="vc-icon">
            <slot name="icon" />
        </div>
        <slot name="text"/>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    const Component = Options;
    @Component({
        components: {

        },
        props: {
            to: String,
            icon: {
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            },
            red: {
                type: Boolean,
                default: false
            },
            size: {
                type: String,
                default: 'M'
            },
            padding: {
                type: String,
                default: ''
            }
        },
        emits: [ 'action' ]
    })
    export default class ButtonMComponent extends Vue {
        onClick()
        {
            if(!this.disabled)
            {
                this.$emit('action');
            }
        }

        onKeyUp(e)
        {
            if (this.disabled) {
                return;
            }

            if (e.keyCode === 13) {
                this.$emit('action');
                e.preventDefault();
            }
        }
    }
</script>