<style scoped lang="scss">
  

  

  .v-body
  {
    position: relative;

    margin-left: 224px;
    margin-right: 87px;
    margin-bottom: 112px;

    text-align: center;

    pointer-events: none;

    h2
    {
      @include kiraFont(m-h2);
      color: #FFFFFF;

      margin-bottom: 24px;
      margin-top: 40px;
    }

    p
    {
      @include kiraFont(m-body-2);
      color: #FFFFFF;

      margin-bottom: 16px;
      margin-top: 0;

      max-width: 762px;
    }
  }

  .v-center-content
  {
    display: inline-block;
    text-align: left;
  }

  .v-main-title
  {
    @include kiraFont(m-h1);

    display: inline-block;
    height: fit-content;

    /* Main/Background */
    color: #FFFFFF;

    margin-top: 88px;

    pointer-events: auto;
  }

  @media (max-width: 1680px)
  {
    .v-body
    {
      margin-left: interpolate-on-width(80, 227, 1121, 1680);
    }
  }

  @media (max-width: 1120px)
  {
    .v-body
    {
      margin-left: interpolate-on-width(24, 80, 414, 1120);
      margin-right: interpolate-on-width(24, 80, 414, 1120);
    }
  }

  @media (max-width: 414px)
  {
    .v-body
    {
      margin-left: 24px;
      margin-right: 24px;

      h2
      {
        @include kiraFont(s-h2);
      }

      p
      {
        @include kiraFont(s-body-2);
      }
    }

    .v-main-title
    {
      @include kiraFont(s-h1);
      margin-top: 40px;
    }
  }
</style>

<template>
  <div class="v-body" v-if="aboutData">
    <div class="v-center-content">
      <div class="v-main-title">О нас</div>
      <div class="v-content">
        <template v-for="block in aboutData.content.blocks">
          <h2 v-if="block.type === 'header'">{{block.data.text}}</h2>
          <p v-else-if="block.type === 'paragraph'">{{block.data.text}}</p>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import { Options, Vue } from "vue-class-component";
  import IconContactsMapComponent from "../components/icons/IconContactsMapComponent"
  import IconKhabarovskLogoComponent from "../components/icons/city_logos/IconKhabarovskLogoComponent";
  import TradeArticlesManager from "../lib/trade/TradeArticlesManager";

  const Component = Options;
  @Component({
    components: {
    },
    props: {
    },
    async beforeRouteEnter (to, from, next) {
      await TradeArticlesManager.getArticles({ limit: 1, category_id: 2 });
      next();
    }
  })
  export default class About extends Vue
  {
    aboutData = null;

    async beforeMount()
    {
      this.aboutData = (await TradeArticlesManager.getArticles({ limit: 1, category_id: 2 })).items[0];
    }
  }
</script>
