<style scoped lang="scss">
    .vc-home {
        .home-banner-component,
        .home-stock-component,
        .home-discount-component,
        .home-lower-stock-component {
            margin-bottom: 40px;
        }
    }

</style>

<template>
    <div class="vc-home">

    </div>
</template>

<script>
  import { Options, Vue } from "vue-class-component";
  import ScreenComponent from "@/components/base/ScreenComponent";
  import ButtonComponent from "@/components/buttons/ButtonComponent";

  const Component = Options;
  @Component({
    components: {
        ScreenComponent,
        ButtonComponent
    },
    props: {
        mainScreenLockedProps: Object
    },
    watch: {
        // mainScreenLockedProps(lockedProps)
        // {
        //     if(lockedProps)
        //     {
        //         this.unregisterEvents();
        //         this.backTranslate = lockedProps.translate;
        //     }
        //     else
        //     {
        //         this.registerEvents();
        //         this.backTranslate = null;

        //         // Immediately scroll to current block after unlock
        //         this.$nextTick(() => {
        //             // Disable auto scroll on footer
        //             const endScrollYPosition = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        //             if(window.scrollY >= endScrollYPosition)
        //             {
        //                 this.updateScrollToElement();
        //                 return;
        //             }

        //             // Sometimes object is not initialized.. Why?
        //             if(!this.$refs['block_'+this.currentBlockNum])
        //             {
        //                 this.updateScrollToElement();
        //                 return;
        //             }

        //             const rect = this.$refs['block_'+this.currentBlockNum].getBoundingClientRect();
        //             const targetY = window.scrollY - window.innerHeight / 2 + (rect.y + rect.height / 2);

        //             if(window.scrollY === targetY)
        //             {
        //                 this.updateScrollToElement();
        //                 return;
        //             }

        //             this.smoothScrollTo(targetY);
        //         });

        //     }
        // }
    },
    emits: ['header-fixed', 'header-absolute', 'set-footer-classes']
  })
  export default class Home extends Vue {

    //   backgroundColorState = 'empty';

    //   contentIsFixed = true;

    //   backTranslate = null;

    //   currentBlockNum = 0;

    //   scaleTxtBox = 0;

    //   heightContent = 0;

    //   blockColorStates = [
    //       'empty',
    //       'digital',
    //       'trade',
    //       'easykkm',
    //       'watcher'
    //   ]

    //   textBlockActive = 0;

    //   blocks = [
    //       {
    //           title: 'Компания Хакис была основана в 2012 году и успешно решает задачи клиентов',
    //           caption: 'Компания Хакис была основана в 2012 году и успешно решает задачи клиентов',
    //           posTop: 0,
    //           widthTitle: 696,
    //           widthCaption: 696,
    //       },
    //       {
    //           title: 'Покрытия для ',
    //           caption: 'Изготавливаем покрытия любой сложности и вида, проводим полный цикл работ: консультация, подбор и расчет материалов и оборудования.',
    //           posTop: 0,
    //           widthTitle: 798,
    //           widthCaption: 508,
    //           blockAnimationLinks: [
    //             {
    //               title: 'стадионов',
    //             },
    //             {
    //               title: 'промышленных помещений',
    //             },
    //             {
    //               title: 'детских площадок',
    //             },
    //             {
    //               title: 'спортивных залов',
    //             },
    //           ],
    //       }
    //   ]

    //   menuBlocks = [
    //     {
    //       title: 'Компания Хакис'
    //     },
    //     {
    //       title: 'Напольные покрытия'
    //     },
    //     {
    //       title: 'Инвентарь для детских площадок'
    //     },
    //     {
    //       title: 'Инвентарь для стадионов'
    //     },
    //     {
    //       title: 'Строительные работы'
    //     }
    //   ]

      beforeMount()
      {
          const userAgent = window.navigator.userAgent;

          if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
              this.enabledNativeScroll = true;
          }
          document.title = "AUUX"
      }

    //   showTextBlock(textBlockNum) {
    //     if (typeof this.blocks[textBlockNum] === 'undefined') {
    //       return;
    //     }

    //     this.textBlockActive = textBlockNum;
    //     console.log(this.textBlockActive);

    //     console.log(`this is text block ${textBlockNum}`);       
    //   }

    //   registerEvents()
    //   {
    //       addEventListener("scroll", this.updateScrollToElement);
    //       addEventListener("scroll", this.updateCurrentBlock);
    //       addEventListener("scroll", this.onScrollResizer);

    //       addEventListener("wheel", this.onWheel, {passive: false});

    //       addEventListener("mousedown", this.mouseDown);
    //       addEventListener("mouseup", this.mouseUp);

    //       // addEventListener("touchstart", this.mouseDown);
    //       // addEventListener("touchmove", this.touchMove, {passive: false});
    //       // addEventListener("touchend", this.mouseUp);

    //       this.updateScrollToElement();
    //   }

    //   unregisterEvents()
    //   {
    //       this.isMouseDown = false;

    //       this.scrollToTimeoutResseter.cancel();

    //       removeEventListener("scroll", this.updateScrollToElement);
    //       removeEventListener("scroll", this.updateCurrentBlock);
    //       removeEventListener("scroll", this.onScrollResizer);

    //       removeEventListener("wheel", this.onWheel, { passive: false });

    //       removeEventListener("mousedown", this.mouseDown);
    //       removeEventListener("mouseup", this.mouseUp);

    //       removeEventListener("touchstart", this.mouseDown);
    //       removeEventListener("touchmove", this.touchMove, { passive: false });
    //       removeEventListener("touchend", this.mouseUp);

    //       if(this.timelineMaxMoveScroll)
    //       {
    //           this.timelineMaxMoveScroll.kill();
    //           this.timelineMaxMoveScroll = null;
    //       }

    //       AnimationFrameProcessor.cancel(this.animationFrameProcessorResizerId);
    //   }

    //   mounted()
    //   {
    //       document.title = "Строительно-эксплуатационная компания «Хакис»";

    //       this.$emit('set-footer-classes', ['vc-blurred-footer']);

    //       this.scrollToTimeoutResseter = new TimeoutResetter(() => {
    //           // if(this.currentBlockNum === null)
    //           // {
    //           //     this.updateScrollToElement();
    //           //     return;
    //           // }

    //           // if(this.isMouseDown)
    //           // {
    //           //     this.updateScrollToElement();
    //           //     return;
    //           // }

    //           // Disable auto scroll on footer
    //           // const endScrollYPosition = document.documentElement.scrollHeight - window.innerHeight;
    //           // if(window.scrollY >= endScrollYPosition)
    //           // {
    //           //     this.updateScrollToElement();
    //           //     return;
    //           // }

    //           // const rect = this.$refs['block_'+this.currentBlockNum].getBoundingClientRect();

    //           // const targetY = window.scrollY - window.innerHeight / 2 + (rect.y + rect.height / 2);

    //           // if(window.scrollY === targetY)
    //           // {
    //           //     this.updateScrollToElement();
    //           //     return;
    //           // }

    //           //this.smoothScrollTo(targetY, { easeFunction: this.eventWheelDetected ? Power2.easeInOut : undefined });
    //       }, 300);

    //       addEventListener("resize",  this.relayoutBlocks);
    //       addEventListener("orientationchange", this.relayoutBlocks);

    //       this.registerEvents();

    //       this.updateCurrentBlock();
    //       this.relayoutBlocks();

    //       this.lastScrollTop = -1;

    //       this.$emit('header-fixed');

    //       if(this.mainScreenLockedProps)
    //       {
    //           this.unregisterEvents();
    //           this.backTranslate = this.mainScreenLockedProps.translate;
    //       }
    //   }

    //   beforeUnmount()
    //   {
    //       removeEventListener("resize", this.relayoutBlocks);
    //       removeEventListener("orientationchange", this.relayoutBlocks);

    //       this.unregisterEvents();
    //   }

    //   relayoutBlocks()
    //   {
    //       // this.lastScrollTop = -1;

    //       // const headerHeight = this.getHeaderHeight();

    //       // const rectFullscreen = this.$refs.fullscreenComponent.$el.getBoundingClientRect();

    //       // let currentPos = 0;
    //       // for(let i=0;i<this.blocks.length;i++)
    //       // {
    //       //     const block = this.blocks[i];
    //       //     const heightBlock = this.$refs['block_' + i].getBoundingClientRect().height / 2;

    //       //     if(i === 0)
    //       //     {
    //       //         block.posTop = 50 + rectFullscreen.height / 2 - headerHeight - heightBlock;
    //       //         currentPos = block.posTop + heightBlock;
    //       //     }
    //       //     else
    //       //     {
    //       //         block.posTop = currentPos + rectFullscreen.height / 2 + 10; // 10 px blur(5px) offset
    //       //         currentPos = block.posTop + heightBlock;
    //       //     }
    //       // }

    //       // // 64 - footer
    //       // this.heightContent = currentPos + rectFullscreen.height / 2;
    //   }

    //   getHeaderHeight()
    //   {
    //       return document.querySelector('.v-header').offsetHeight;
    //       // if(document.documentElement.clientWidth > 1120)
    //       // {
    //       //     return 64 + 48;
    //       // }

    //       // return 16 + 40;
    //   }

    //   mouseDown(event)
    //   {
    //       if(this.timelineMaxMoveScroll)
    //       {
    //           this.timelineMaxMoveScroll.kill();
    //           this.timelineMaxMoveScroll = null;
    //       }

    //       if(event.type === 'touchstart')
    //       {
    //           let touch = event.touches[0] || event.changedTouches[0];
    //           this.touchStartY = touch.clientY;
    //           this.touchStartScrollY = window.scrollY;
    //           this.touchPosY = touch.clientY;
    //           this.touchTime = event.timeStamp;
    //           this.touchOnBlockNum = this.currentBlockNum;
    //       }

    //       this.isMouseDown = true;
    //   }

    //   touchMove(event)
    //   {
    //       let touch = event.touches[0] || event.changedTouches[0];

    //       this.prevTouchPosY = this.touchPosY;
    //       this.touchPosY = touch.clientY;

    //       this.touchTime = event.timeStamp;

    //       if(!this.enabledNativeScroll)
    //       {
    //           window.scrollTo({
    //               top: this.touchStartScrollY - (this.touchPosY - this.touchStartY)
    //           });

    //           event.preventDefault();
    //       }
    //   }

    //   mouseUp(event)
    //   {
    //       this.isMouseDown = false;

    //       let nextBlockNum = this.currentBlockNum;

    //       if(this.touchPosY && this.prevTouchPosY)
    //       {
    //           const speedYPerMs = (this.prevTouchPosY - this.touchPosY) / (event.timeStamp - this.touchTime);

    //           if(Math.abs( 1000 * speedYPerMs ) > window.innerHeight * 0.05)
    //           {
    //               if(speedYPerMs > 0)
    //               {
    //                   nextBlockNum++;
    //                   if(nextBlockNum >= this.blocks.length)
    //                   {
    //                       // Handle footer
    //                       const endScrollYPosition = document.documentElement.scrollHeight - window.innerHeight;
    //                       this.smoothScrollTo(endScrollYPosition);
    //                       return;

    //                       //nextBlockNum = this.blocks.length - 1;
    //                   }
    //               }
    //               else
    //               {
    //                   nextBlockNum--;
    //                   if(nextBlockNum < 0)
    //                   {
    //                       nextBlockNum = 0;
    //                   }
    //               }
    //           }

    //           this.touchPosY = null;
    //           this.prevTouchPosY = null;
    //       }

    //       if(nextBlockNum - this.touchOnBlockNum > 1)
    //       {
    //           nextBlockNum = this.touchOnBlockNum + 1;
    //       }
    //       else if(nextBlockNum - this.touchOnBlockNum < -1)
    //       {
    //           nextBlockNum = this.touchOnBlockNum - 1;
    //       }

    //       // Sometimes object is not initialized.. Why?
    //       if(!this.$refs['block_'+nextBlockNum])
    //       {
    //           this.updateScrollToElement();
    //           return;
    //       }

    //       const rect = this.$refs['block_'+nextBlockNum].getBoundingClientRect();

    //       const targetY = window.scrollY - window.innerHeight / 2 + (rect.y + rect.height / 2);

    //       if(window.scrollY === targetY)
    //       {
    //           this.updateScrollToElement();
    //           return;
    //       }

    //       this.smoothScrollTo(targetY);
    //   }

    //   updateCurrentBlock()
    //   {
    //       const headerHeight = this.getHeaderHeight();

    //       let newBlockNum = null;

    //       for(let i=0;i<this.blocks.length;i++)
    //       {
    //           const rect = this.$refs['block_'+i].getBoundingClientRect();

    //           if(rect.y < headerHeight)
    //           {
    //               //this.$refs['block_'+i].style.opacity = '0';
    //           }
    //           else
    //           {
    //               const delta = document.documentElement.clientHeight / 2 - rect.height / 2 - 1 - rect.y;
    //               let opacity = 1 - delta / (document.documentElement.clientHeight / 2 - rect.height / 2 - headerHeight);

    //               if(opacity < 0)
    //               {
    //                   continue;
    //                   //opacity = 0;
    //               }

    //               if(rect.y < document.documentElement.clientHeight - rect.height / 2)
    //               {
    //                   newBlockNum = i;
    //               }
    //           }
    //       }

    //       if(newBlockNum !== null && newBlockNum !== this.currentBlockNum)
    //       {
    //           this.backgroundColorState = this.blockColorStates[newBlockNum];
    //           this.currentBlockNum = newBlockNum;
    //       }
    //   }

    //   smoothScrollTo(targetY, opts)
    //   {
    //       if(!opts)
    //       {
    //           opts = {};
    //       }

    //       let easeFunction;
    //       if(opts.easeFunction)
    //       {
    //           easeFunction = opts.easeFunction;
    //       }
    //       else
    //       {
    //           easeFunction = Power2.easeOut;
    //       }

    //       if(this.timelineMaxMoveScroll)
    //       {
    //           this.timelineMaxMoveScroll.kill();
    //       }

    //       // Prevent disable current scrolling
    //       this.updateScrollToElement();

    //       const scrollObj = {
    //           y: window.scrollY
    //       };

    //       // Handle stretches
    //       const endScrollYPosition = document.documentElement.scrollHeight - window.innerHeight;
    //       if(window.scrollY < 0 || window.scrollY > endScrollYPosition)
    //       {
    //           return;
    //       }

    //       this.timelineMaxMoveScroll = new TimelineMax()
    //           .to(scrollObj, 0.6,
    //               {
    //                   y:  targetY,

    //                   ease: easeFunction,
    //                   onUpdate: () => {

    //                       window.scrollTo({ top: scrollObj.y });

    //                   },
    //                   onComplete: () => {
    //                       this.timelineMaxMoveScroll = null;
    //                       this.updateScrollToElement();
    //                   }
    //               });
    //   }

    //   onWheel(event)
    //   {
    //       if(!this.eventWheelDetected)
    //       {
    //           this.eventWheelDetected = true;
    //           this.scrollToTimeoutResseter.setTimeout(800);
    //       }

    //       if(this.timelineMaxMoveScroll)
    //       {
    //           this.timelineMaxMoveScroll.kill();
    //           this.timelineMaxMoveScroll = null;
    //       }

    //       this.updateScrollToElement();
    //   }

    //   onScrollResizer(event)
    //   {
    //       if(!this.scrollResizerTimestamp)
    //       {
    //           this.scrollResizerTimestamp = event.timeStamp;
    //           this.scrollResizerPrevScrollY = window.scrollY;
    //           return;
    //       }

    //       const timestamp = event.timeStamp;

    //       const scrollY = window.scrollY;

    //       const speed = abs( (this.scrollResizerPrevScrollY - scrollY) / (timestamp - this.scrollResizerTimestamp) );

    //       if(!this.currentSpeedScaleTxtBox && this.currentSpeedScaleTxtBox !== 0)
    //       {
    //           this.currentSpeedScaleTxtBox = speed;
    //       }
    //       else
    //       {
    //           if(speed > this.currentSpeedScaleTxtBox)
    //           {
    //               this.currentSpeedScaleTxtBox += (6 / 500) * (timestamp - this.scrollResizerTimestamp);

    //               if(this.currentSpeedScaleTxtBox > speed)
    //               {
    //                   this.currentSpeedScaleTxtBox = speed;
    //               }
    //           }
    //           else
    //           {
    //               this.currentSpeedScaleTxtBox -= (6 / 110) * (timestamp - this.scrollResizerTimestamp);

    //               if(this.currentSpeedScaleTxtBox < speed)
    //               {
    //                   this.currentSpeedScaleTxtBox = speed;
    //               }
    //           }

    //       }


    //       //this.scaleTxtBox = 0.02 * (this.currentSpeedScaleTxtBox / 6);
    //       //if(this.scaleTxtBox > 0.02)
    //       //{
    //           //this.scaleTxtBox = 0.02;
    //       //}

    //       AnimationFrameProcessor.cancel(this.animationFrameProcessorResizerId);

    //       this.animationFrameProcessorResizerId = AnimationFrameProcessor.request(() => {

    //           let scaleTxtBox = 0.02 * (this.currentSpeedScaleTxtBox / 6);

    //           if(scaleTxtBox > 0.02)
    //           {
    //               scaleTxtBox = 0.02;
    //           }

    //           for(let i=0;i<this.blocks.length;i++)
    //           {
    //               this.$refs['block_content_' + i].style.transform = `scaleY(${1 + scaleTxtBox}) scaleX(${1 - scaleTxtBox})`
    //           }
    //       });


    //       this.scrollResizerTimestamp = timestamp;
    //       this.scrollResizerPrevScrollY = scrollY;
    //   }

    //   updateScrollToElement()
    //   {
    //       this.scrollToTimeoutResseter.cancel();

    //       if(!this.timelineMaxMoveScroll)
    //       {
    //           this.scrollToTimeoutResseter.run();
    //       }
    //   }
  }
</script>