@mixin flex($alignItems: initial, $justifyContent: initial, $wrap: initial, $flow: initial) {
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
	flex-wrap: $wrap;
	flex-direction: $flow;
}

@mixin container($maxWidth: 1346px, $padding: 0 8px, $width: 100%, $margin: 0 auto) {
	width: $width;
	max-width: $maxWidth;
	padding: $padding;
	margin: $margin;
}

@mixin flexContainer($maxWidth: 1346px, $padding: 0 8px, $margin: 0 auto, $alignItems: initial, $justifyContent: initial, $wrap: initial, $flow: initial, $width: 100%) {
	@include container($maxWidth, $padding, $width, $margin);
	@include flex($alignItems, $justifyContent, $wrap, $flow);
}