@function interpolate-on-width($fromVal, $toVal, $minWidth, $maxWidth)
{
  @return calc(#{$toVal}px - (#{$maxWidth}px - 100vw) * ( (#{$toVal - $fromVal}) / (#{$maxWidth - $minWidth}) ));
}

@mixin interpolate($fromVal, $toVal, $minWidth, $maxWidth) {
    min-width: $fromVal;
    max-width: $toVal;
    width: interpolate-on-width($fromVal, $toVal, $minWidth, $maxWidth);
}

@function transitionList($props, $duration: 0.3s, $func: ease-in-out, $delay: '') {
	$result: ();
	$func: unquote($func);
	$delay: unquote($delay);

	@each $prop in $props {
		$result: append($result, $prop $duration $func $delay, comma);
	}

	@return $result;
}

@mixin transition($props, $duration: 0.3s, $func: ease-in-out, $delay: '') {
	transition: transitionList($props, $duration, $func, $delay);
}

@mixin flexListHorizontal($margin: 16px) {
	> * {
		&:not(:first-child) {
			margin-left: $margin;
		}
	}
}