<style scoped lang="scss">
    

    .vc-flex-background
    {
        display: block;
        //background-image: url('../assets/background-lines.svg');
        height: 100%;
        position: fixed;
        right: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

</style>

<template>
    <div ref="wrapper">
        <!-- <canvas ref="canvas" class="vc-flex-background" /> -->
        <div class="vc-flex-background"></div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import Two from 'two.js';
    import { TweenLite, Linear, Bounce, Sine, TimelineMax } from "gsap";
    import states from '../lib/flex_bg_data';

    function preprocessStates()
    {
        for(let i=0;i<states.empty.length;i++)
        {
            const frame = states.empty[i];
            const digitalFrame = states.digital[i];

            for(let j=0;j<frame.length;j++)
            {
                const element = frame[j];
                const digitalElement = digitalFrame[j];
                const digitalGradient = digitalElement.gradient;

                let stops = [];

                for(let stop of digitalGradient.stops)
                {
                    stops.push({
                        offset: stop.offset,
                        color: "#000000"
                    });
                }

                element.gradient = {
                    x1: digitalGradient.x1,
                    y1: digitalGradient.y1,
                    x2: digitalGradient.x2,
                    y2: digitalGradient.y2,
                    opacity: 0,

                    stops: stops
                }
            }
        }
    }

    preprocessStates();


    /**
     * @param {String} HTML representing a single element
     * @return {Element}
     */
    function htmlToElement(html) {
        var template = document.createElement('template');
        html = html.trim(); // Never return a text node of whitespace as the result
        template.innerHTML = html;
        return template.content.firstChild;
    }

    const Component = Options;
    @Component({
        components: {
        },
        props: {
            colorsState: String
        },
        watch: {
            colorsState() {
                this.startAnimation();
            }
        },
        emits: []
    })
    export default class FlexBackgroundComponent extends Vue {

        gradients = [];
        paths = [];

        created()
        {
            for(let colorStateName in this.colorStates)
            {
                for(let colorStateFrame of this.colorStates[colorStateName])
                {
                    for(let i=0;i<colorStateFrame.gradient.length;i++)
                    {
                        colorStateFrame.gradient[i] = this.hexToRgb(colorStateFrame.gradient[i]);
                    }

                    //colorStateFrame.strokeColor = this.hexToRgb(colorStateFrame.strokeColor);
                }
            }
        }

        hexToRGB(hex, alpha) {
            var r = parseInt(hex.slice(1, 3), 16),
                g = parseInt(hex.slice(3, 5), 16),
                b = parseInt(hex.slice(5, 7), 16);

            if (alpha || alpha === 0) {
                return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
            } else {
                return "rgb(" + r + ", " + g + ", " + b + ")";
            }
        }

        RGBAToHexA(rgba) {
            let sep = rgba.indexOf(",") > -1 ? "," : " ";
            rgba = rgba.substr(5).split(")")[0].split(sep);

            // Strip the slash if using space-separated syntax
            if (rgba.indexOf("/") > -1)
                rgba.splice(3,1);

            for (let R in rgba) {
                let r = rgba[R];
                if (r.indexOf("%") > -1) {
                    let p = r.substr(0,r.length - 1) / 100;

                    if (R < 3) {
                        rgba[R] = Math.round(p * 255);
                    } else {
                        rgba[R] = p;
                    }
                }
            }

            let r = (+rgba[0]).toString(16),
                g = (+rgba[1]).toString(16),
                b = (+rgba[2]).toString(16),
                a = Math.round(+rgba[3] * 255).toString(16);

            if (r.length == 1)
                r = "0" + r;
            if (g.length == 1)
                g = "0" + g;
            if (b.length == 1)
                b = "0" + b;
            if (a.length == 1)
                a = "0" + a;

            return "#" + r + g + b + a;
        }

        startAnimation()
        {
            const currentStateFrames = states[this.colorsState];

            const firstFrame = currentStateFrames[0];

            for(let elementNum = 0;elementNum < firstFrame.length;elementNum++) {
                const timelineMaxStops = this.timelineMaxGradientAnimations[elementNum].stops;
                const timelineMaxPath = this.timelineMaxPathAnimations[elementNum];

                for (let stopNum = 0; stopNum < timelineMaxStops.length; stopNum++)
                {
                    if(timelineMaxStops[stopNum].color)
                    {
                        timelineMaxStops[stopNum].color.kill();
                    }
                    timelineMaxStops[stopNum].color = new TimelineMax();
                }
            }

            for(let elementNum = 0;elementNum < firstFrame.length;elementNum++)
            {
                const elementInfo = firstFrame[elementNum];
                const stateStops = this.statesAnimationGradient[elementNum].stops;
                const timelineMaxStops = this.timelineMaxGradientAnimations[elementNum].stops;
                const gradientGroup = this.gradientsGroups[elementNum];
                const timelineMaxPath = this.timelineMaxPathAnimations[elementNum];
                const stateStroke = this.statesAnimationPath[elementNum].stroke;
                const shape = this.shapesPathGroups[elementNum];

                if(timelineMaxPath.stroke)
                {
                    timelineMaxPath.stroke.kill();
                }
                timelineMaxPath.stroke = new TimelineMax();

                if(elementInfo.stroke)
                {
                    shape.linewidth = elementInfo.stroke.width;
                }

                timelineMaxPath.stroke = timelineMaxPath.stroke.to(stateStroke, 0.8,
                    {
                        color: this.hexToRGB(elementInfo.stroke ? elementInfo.stroke.color : this.RGBAToHexA(stateStroke.color),
                            elementInfo.stroke ? 1 : 0),

                        ease: Sine.easeIn,
                        onUpdate: function () {

                            shape.stroke = stateStroke.color;

                        }
                    }, 0.4 * elementNum);

                for(let stopNum = 0; stopNum < stateStops.length; stopNum++)
                {
                    const stopInfo = elementInfo.gradient.stops[stopNum];
                    const stateStop = stateStops[stopNum];

                    timelineMaxStops[stopNum].color = timelineMaxStops[stopNum].color.to(stateStop, 0.8,
                        {
                            color: this.hexToRGB(stopInfo.color, elementInfo.gradient.opacity),

                            ease: Sine.easeIn,
                            onUpdate: function () {

                                gradientGroup.stops[stopNum].color = stateStop.color;

                            }
                        }, 0.4 * elementNum);
                }


            }
        }

        destroyCanvas()
        {
            if(this.two)
            {
                this.two.pause();

                for(const timelineMaxPathAnimation of this.timelineMaxPathAnimations)
                {
                    if(timelineMaxPathAnimation.stroke)
                    {
                        timelineMaxPathAnimation.stroke.kill();
                    }

                    for(const timelineMaxVert of timelineMaxPathAnimation.verts)
                    {
                        timelineMaxVert.kill();
                    }
                }

                for(const timelineMaxGradientAnimation of this.timelineMaxGradientAnimations)
                {
                    timelineMaxGradientAnimation.positions.kill();

                    for(const timelineMaxStop of timelineMaxGradientAnimation.stops)
                    {
                        timelineMaxStop.offset.kill();

                        if(timelineMaxStop.color)
                        {
                            timelineMaxStop.color.kill();
                        }
                    }
                }

                for(const timelineMaxTranslationAnimation of this.timelineMaxTranslationAnimations)
                {
                    timelineMaxTranslationAnimation.kill();
                }
            }
        }

        updateCanvas()
        {
            const wrapperRect = this.$refs.wrapper.getBoundingClientRect();

            const vw = wrapperRect.width;
            const vh = wrapperRect.height;

            if(this.canvasWidth === vw && this.canvasHeight === vh)
            {
                return;
            }

            let targetScale;
            let targetOffsetX = 0;
            let targetOffsetY = 0;

            if(vw > vh)
            {
                targetScale = vw / 1680;

                targetOffsetY = -(1680 * targetScale - vh) / 2;
            }
            else
            {
                targetScale = vh / 1680;

                targetOffsetX = -(1680 * targetScale - vw) / 2;
            }

            this.canvasWidth = vw;
            this.canvasHeight = vh;

            for(const shape of this.shapesPathGroups)
            {
                shape.scale = targetScale;
                shape.translation.x = targetOffsetX;
                shape.translation.y = targetOffsetY;
            }

            this.two.width = this.canvasWidth;
            this.two.height = this.canvasHeight;
        }

        initializeCanvas()
        {
            const two = new Two({
                type: Two.Types['canvas'],
                width: 1680,
                height: 1680,
                domElement: this.$refs.canvas
            });

            this.two = two;

            const currentStateFrames = states[this.colorsState];

            for(let i = 0;i < currentStateFrames[0].length; i++)
            {
                const elementInfo = currentStateFrames[0][i];

                const shape = two.interpret(
                    htmlToElement(elementInfo.svg_path)
                );

                const translation = shape.children[0].translation;
                const gradient = elementInfo.gradient;
                const stops = gradient.stops;

                const hexAlphaGradient = gradient.opacity === 0 ? '00' : (gradient.opacity * 255).toString(16);

                const statesAnimationStops = [];
                const timelineMaxStops = [];

                const twoStops = [];
                for(const stop of stops)
                {
                    twoStops.push(new Two.Stop(stop.offset, stop.color + hexAlphaGradient));

                    statesAnimationStops.push({
                        color: stop.color + hexAlphaGradient,
                        offset: stop.offset
                    });

                    timelineMaxStops.push({
                        offset: new TimelineMax({ repeat: -1 }),
                        color: null
                    });
                }

                const linearGradient = two.makeLinearGradient(
                    gradient.x1 - translation.x, gradient.y1 - translation.y,
                    gradient.x2 - translation.x, gradient.y2 - translation.y,
                    ...twoStops
                );

                this.statesAnimationGradient.push({
                    x1: gradient.x1,
                    y1: gradient.y1,
                    x2: gradient.x2,
                    y2: gradient.y2,
                    stops: statesAnimationStops
                });

                this.statesAnimationTranslation.push({
                    x: translation.x,
                    y: translation.y
                });

                this.timelineMaxTranslationAnimations.push(new TimelineMax({ repeat: -1 }));
                this.timelineMaxGradientAnimations.push({
                    positions: new TimelineMax({ repeat: -1 }),
                    stops: timelineMaxStops
                });

                this.shapesPathGroups.push(shape);
                this.gradientsGroups.push(linearGradient);

                shape.fill = linearGradient;

                const stateStroke = {
                    color: this.hexToRGB('#000000', 0)
                };

                if(elementInfo.stroke)
                {
                    shape.stroke = elementInfo.stroke.color;
                    shape.linewidth = elementInfo.stroke.width;

                    stateStroke.color = this.hexToRGB(elementInfo.stroke.color, 1);
                }

                const statesVerts = [];
                const timelineMaxVerts = [];

                const verts = shape.children[0].vertices;
                for(let j=0;j<verts.length;j++)
                {
                    const vert = verts[j];

                    statesVerts.push({
                        x: vert.x, y: vert.y,
                        left_x: vert.controls.left.x, left_y: vert.controls.left.y,
                        right_x: vert.controls.right.x, right_y: vert.controls.right.y,
                    });

                    timelineMaxVerts.push(new TimelineMax({ repeat: -1 }));
                }

                this.timelineMaxPathAnimations.push({
                    verts: timelineMaxVerts,
                    stroke: null
                });

                this.statesAnimationPath.push({
                    verts: statesVerts,
                    stroke: stateStroke
                });
            }

            const processFrameAtIndex = (i) => {
                const rawFrame = currentStateFrames[i];

                for(let j=0;j<rawFrame.length;j++)
                {
                    const targetElement = rawFrame[j];
                    const stateAnimationPath = this.statesAnimationPath[j];
                    const timelinesPathElement = this.timelineMaxPathAnimations[j];

                    const gradientGroup = this.gradientsGroups[j];
                    const targetGradient = targetElement.gradient;

                    const shape = this.shapesPathGroups[j];
                    const targetShape = two.interpret(htmlToElement(rawFrame[j].svg_path));

                    const translation = shape.children[0].translation;
                    const targetTranslation = targetShape.children[0].translation;

                    const verts = shape.children[0].vertices;
                    const targetVerts = targetShape.children[0].vertices;

                    const stateAnimationTranslation = this.statesAnimationTranslation[j];
                    this.timelineMaxTranslationAnimations[j] = this.timelineMaxTranslationAnimations[j].to(stateAnimationTranslation, 5,
                        {
                            x: targetTranslation.x,
                            y: targetTranslation.y,

                            ease: Sine.easeInOut,
                            onUpdate: function () {
                                translation.x = stateAnimationTranslation.x;
                                translation.y = stateAnimationTranslation.y;

                                gradientGroup.left.x = stateAnimationGradient.x1 - stateAnimationTranslation.x;
                                gradientGroup.left.y = stateAnimationGradient.y1 - stateAnimationTranslation.y;
                                gradientGroup.right.x = stateAnimationGradient.x2 - stateAnimationTranslation.x;
                                gradientGroup.right.y = stateAnimationGradient.y2 - stateAnimationTranslation.y;
                            }
                        });

                    const stateAnimationGradient = this.statesAnimationGradient[j];
                    this.timelineMaxGradientAnimations[j].positions  = this.timelineMaxGradientAnimations[j]
                        .positions.to(stateAnimationGradient, 5,
                            {
                                x1: targetGradient.x1,
                                y1: targetGradient.y1,
                                x2: targetGradient.x2,
                                y2: targetGradient.y2,

                                ease: Sine.easeInOut,
                                onUpdate: function () {
                                    gradientGroup.left.x = stateAnimationGradient.x1 - stateAnimationTranslation.x;
                                    gradientGroup.left.y = stateAnimationGradient.y1 - stateAnimationTranslation.y;
                                    gradientGroup.right.x = stateAnimationGradient.x2 - stateAnimationTranslation.x;
                                    gradientGroup.right.y = stateAnimationGradient.y2 - stateAnimationTranslation.y;
                                }
                            });

                    const timelineMaxStops = this.timelineMaxGradientAnimations[j].stops;

                    for(let stopNum=0;stopNum<timelineMaxStops.length;stopNum++)
                    {
                        const stateStop = stateAnimationGradient.stops[stopNum];
                        timelineMaxStops[stopNum].offset = timelineMaxStops[stopNum].offset.to(stateStop, 5,
                            {
                                offset: targetGradient.stops[stopNum].offset,

                                ease: Sine.easeInOut,
                                onUpdate: function ()
                                {
                                    gradientGroup.stops[stopNum].offset = stateStop.offset;
                                }
                            });
                    }

                    for(let k=0;k<stateAnimationPath.verts.length;k++)
                    {
                        const vert = verts[k];
                        const targetVert = targetVerts[k];
                        const stateVert = stateAnimationPath.verts[k];

                        timelinesPathElement.verts[k] = timelinesPathElement.verts[k].to(stateVert, 5,
                            {
                                x: targetVert.x, y: targetVert.y,
                                left_x: targetVert.controls.left.x, left_y: targetVert.controls.left.y,
                                right_x: targetVert.controls.right.x, right_y: targetVert.controls.right.y,
                                ease: Sine.easeInOut,
                                onUpdate: function () {

                                    vert.x = stateVert.x;
                                    vert.y = stateVert.y;
                                    vert.controls.left.x = stateVert.left_x;
                                    vert.controls.left.y = stateVert.left_y;
                                    vert.controls.right.x = stateVert.right_x;
                                    vert.controls.right.y = stateVert.right_y;

                                }
                            });
                    }

                    targetShape.remove();
                }
            };

            for(let i=1;i < currentStateFrames.length; i++)
            {
                processFrameAtIndex(i);
            }

            processFrameAtIndex(0);

            two.play();
        }

        mounted()
        {
            this.gradientsGroups = [];
            this.shapesPathGroups = [];

            this.timelineMaxPathAnimations = [];
            this.timelineMaxGradientAnimations = [];
            this.timelineMaxTranslationAnimations = [];

            this.statesAnimationPath = [];
            this.statesAnimationGradient = [];
            this.statesAnimationTranslation = [];

            this.initializeCanvas();
            this.updateCanvas();

            addEventListener("resize", this.updateCanvas);
            addEventListener("orientationchange", this.updateCanvas);
        }

        beforeUnmount()
        {
            this.destroyCanvas();

            removeEventListener("resize", this.updateCanvas);
            removeEventListener("orientationchange", this.updateCanvas);
        }

    }
</script>