<style scoped lang="scss">
    .v-footer {
        min-height: 264px;
        background-color: #D3D7E0;
    }
</style>

<template>
    <div class="v-footer">
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    const Component = Options;
    @Component({
        components: {

        },
        props: {

        }
    })
    export default class FooterComponent extends Vue
    {
        year = new Date().getFullYear();
    }
</script>