<style scoped lang="scss">
    

    .vc-full-invisible-button
    {
        border-radius: 24px;
        padding: 12px 20px;

        height: 48px;

        cursor: pointer;
        box-sizing: border-box;
        user-select: none;

        color: white;

        border: 1px solid white;

        transition: color 0.3s ease, background 0.3s ease;

        &:hover
        {
            background: white;
            color: #212121;
        }
    }
</style>

<template>
    <div class="vc-full-invisible-button kr-font-m-navigation-1">
        <slot></slot>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    const Component = Options;
    @Component({
        components: {
        },
        props: {
        }
    })
    export default class FullInvisibleButtonComponent extends Vue {

    }
</script>