<style scoped lang="scss">
    .vc-home-banner {
        min-height: 640px;
        @include flexContainer($justifyContent: center, $alignItems: center, $padding: 8px, $flow: column);
        background: linear-gradient(180deg, #E8FFE0 0%, #EBE6FF 100%);
        .v-text {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 32px;
            > div p {
                background-color: var(--kr-color-background-primary);
                color: var(--kr-color-label-primary);
                margin: 0;
            }
            .v-discount {
                font-family: Raleway;
                font-style: italic;
                font-weight: 800;
                font-size: 64px;
                line-height: 75px;
                text-align: justify;
                margin: 0 auto 12px auto;
                max-width: 225px;
                p {
                    @include flexContainer($justifyContent: center, $alignItems: center, $maxWidth: initial, $padding: 0);
                    overflow: hidden;
                    .v-number {
                        transform: translateX(-8px);
                    }
                    .v-percent {
                        margin-left: auto;
                        transform: translateX(12px);
                    }
                }
            }
            .v-category {
                font-family: Raleway;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 56px;
                @include flexContainer($justifyContent: center, $alignItems: center, $padding: 0, $flow: column);
                margin-bottom: 8px;
                p {
                    padding: 0 28px;
                }
            }
            .v-description {
                font-family: Raleway;
                font-style: italic;
                font-weight: 800;
                font-size: 24px;
                line-height: 28px;
                p {
                    padding: 0 28px;
                }
            }
        }
        .v-buttons {
            @include flex($alignItems: center);
            @include flexListHorizontal($margin: 20px);
        }
    }

</style>

<template>
    <div class="vc-home-banner">
        <div class="v-text">
            <div class="v-discount">
                <p>
                    <span class="v-number">-50</span>
                    <span class="v-percent">%</span>
                </p>
            </div>
            <div class="v-category">
                <p>На футболки</p>
                <p>И майки</p>
            </div>
            <div class="v-description">
                <p>Распродажа oodji на AUUX</p>
            </div>
        </div>
        <div class="v-buttons">
            <router-link to="/women">
                <button-component padding='8px 24px'>
                    <template v-slot:text>Женское</template>
                </button-component>
            </router-link>
            <router-link to="/men">
                <button-component padding='8px 24px'>
                    <template v-slot:text>Мужское</template>
                </button-component>
            </router-link>
        </div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import ButtonComponent from "@/components/buttons/ButtonComponent";

    @Options({
        components: {
            ButtonComponent
        },
        props: {

        }
    })
    export default class HomeBannerComponent extends Vue {
    
    }
</script>