<style scoped lang="scss">
    .vc-home-stocks {
        @include flexContainer($justifyContent: space-between, $maxWidth: 1124px);
        @include flexListHorizontal($margin: 40px);
        margin: 0 auto;
        .v-stock-card {
            flex: 1;
            .v-stock-image {
                margin-bottom: 24px;
                img {
                    width: 100%;
                }
            }
            .v-stock-text {
                text-align: center;
                h3 {
                    margin: 24px 0 8px 0;
                    font-family: Raleway, sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 32px;
                    color: var(--kr-color-label-primary);
                }
                p {
                    @include kiraFont(m-body);
                    color: var(--kr-color-label-primary);
                    margin: 0;
                }
            }
        }
    }
</style>

<template>
    <div class="vc-home-stocks">
        <div
            class="v-stock-card"
            v-for="(stock, index) in homeStocks"
            :key=index
            :ref="`stock_${index}`"
        >
            <div class="v-stock-image">
                <img v-if="stock.image" :src="stock.image" :alt="stock.name" />
                <!-- <attachment-image-component
                    v-if="slotProps.article.attachments[0]"
                    :attachment="slotProps.article.attachments[0]"/> -->
                <no-image-component v-else />
            </div>
            <div class="v-stock-text">
                <h3 class="v-stock">{{stock.name}}</h3>
                <p>{{stock.description}}</p>
            </div>
        </div>
        <div v-if="isLoadingData">
            <icon-spinner-component class="v-icon-loader" />
        </div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import IconSpinnerComponent from "./icons/IconSpinnerComponent";
    import NoImageComponent from "../components/NoImageComponent";
    
    @Options({
        components: {
            IconSpinnerComponent,
            NoImageComponent
        },
        props: {
            optionsBase: Object
        }
    })

    export default class HomeLowerStockComponent extends Vue {
        
        isLoadingData = true;

        homeStocks = [];
        defaultImage = require("../assets/cat_2.jpg");
        
        async beforeMount() {
            this.homeStocks = await (() => {
                return [
                    {
                        'image': this.defaultImage,
                        'name': "MAVI",
                        'description': "Деним для повседневной жизни"
                    },
                    {
                        'image': this.defaultImage,
                        'name': "oodji",
                        'description': "Одежда"
                    }
                ];
            })();
            this.isLoadingData = false;
        }
    }
</script>