<style scoped lang="scss">
    .vc-home-discount {
        min-height: 240px;
        @include flexContainer($justifyContent: center, $alignItems: center, $padding: 8px, $flow: column, $maxWidth: initial);
        background: linear-gradient(90.33deg, #FFC7C7 0.58%, #A5DEFF 99.42%);
        .v-text {
            text-transform: uppercase;
            text-align: center;
            > div p {
                background-color: #093DF7;
                color: #E6FF9F;
                margin: 0;
            }
            .v-discount {
                font-family: Raleway;
                font-style: italic;
                font-weight: 800;
                font-size: 64px;
                line-height: 75px;
                text-align: justify;
                margin: 0 auto 12px auto;
                max-width: 225px;
                p {
                    @include flexContainer($justifyContent: center, $alignItems: center, $maxWidth: initial, $padding: 0);
                    overflow: hidden;
                    .v-number {
                        transform: translateX(-8px);
                    }
                    .v-percent {
                        margin-left: auto;
                        transform: translateX(12px);
                    }
                }
            }
            .v-category {
                font-family: Raleway;
                font-style: italic;
                font-weight: 800;
                font-size: 48px;
                line-height: 56px;
                p {
                    padding: 0 45px;
                }
            }
            .v-description {
                @include kiraFont(s-h3);
                text-transform: initial;
                p {
                    padding: 0 28px;
                }
            }
        }
    }

</style>

<template>
    <div class="vc-home-discount">
        <div class="v-text">
            <div class="v-category">
                <p>Получи скидку</p>
            </div>
            <div class="v-discount">
                <p>
                    <span class="v-number">-50</span>
                    <span class="v-percent">%</span>
                </p>
            </div>
            <div class="v-description">
                <p>Акция распространяется на вещи, помеченные на сайте</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    @Options({
        components: {

        },
        props: {

        }
    })
    export default class HomeDiscountComponent extends Vue {
    
    }
</script>