<style scoped lang="scss">
    
    

    .v-anim-link
    {
        border-bottom: 4px dashed var(--kr-color-secondary-base-orange);
        color: var(--kr-color-main-header);
        &.anim-active {
            color: var(--kr-color-secondary-base-orange);
        }
    }
</style>

<template>
   <span class="v-anim-link">{{ title }}<slot></slot></span>
</template>

<script>
    import { Options, Vue } from "vue-class-component";

    const Component = Options;
    @Component({
        components: {
            
        },
        props: ['title'],
    })
    export default class HomeBlockAnimationLinkComponent extends Vue {
        
    }
</script>