<style scoped lang="scss">
    .vc-home-brands {
        @include flex($flow: column, $alignItems: center, $justifyContent: center);
        min-height: 346px;
        padding: 8px 0;
        background-color: var(--kr-color-background-secondary);
        .v-brands-container {
            @include container();
            h2 {
                color: var(--kr-color-main-plain-text);
                margin: 0 0 40px 0;
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                line-height: 32px;
                /* identical to box height, or 133% */

                text-align: center;
            }
            .v-brands {
                @include flex($alignItems: center, $justifyContent: space-between);
                @include flexListHorizontal($margin: 20px);
                .v-brand {
                    flex: 1;
                    min-height: 98px;
                    @include flex($alignItems: center, $justifyContent: center);
                }
            }
        }
    }
</style>

<template>
    <div class="vc-home-brands">
        <div class="v-brands-container">
            <h2>Актуальные бренды</h2>
            <div class="v-brands">
                <div
                    class="v-brand"
                    v-for="(brand, index) in homeBrands"
                    :key=index
                    :ref="`brand_${index}`"
                >
                    <img v-if="brand.image" :src="brand.image" :alt="brand.title" />
                    <no-image-component v-else />
                </div>
            </div>
            <div v-if="isLoadingData">
                <icon-spinner-component class="v-icon-loader" />
            </div>
        </div>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import IconSpinnerComponent from "./icons/IconSpinnerComponent";
    import NoImageComponent from "../components/NoImageComponent";
    
    @Options({
        components: {
            IconSpinnerComponent,
            NoImageComponent
        },
        props: {
            optionsBase: Object
        }
    })

    export default class HomeBrandsComponent extends Vue {
        
        isLoadingData = true;

        homeBrands = [];
        
        async beforeMount() {
            this.homeBrands = await (() => {
                return [
                    {
                        'image': require("../assets/milavitsa 1.svg"),
                        'title': "Milavitsa",
                    },
                    {
                        'image': require("../assets/Mavi_Jeans_Logo 1.svg"),
                        'title': "Mavi",
                    },
                    {
                        'image': require("../assets/tiffosi.svg"),
                        'title': "Tiffosi",
                    },
                    {
                        'image': require("../assets/yaya.svg"),
                        'title': "Yaya",
                    }
                ];
            })();
            this.isLoadingData = false;
        }
    }
</script>