<style scoped lang="scss">

    .v-search {
        @include flexContainer($padding: 0, $alignItems: center, $maxWidth: initial);

        background-color: var(--kr-color-fill-quaternary);
        border-radius: 8px;
        height: 40px;
        border: 1px solid transparent;
        @include transition((background-color, box-shadow, border));

        &:hover {
            background-color: var(--kr-color-fill-tertiary);
        }

        &:focus-within {
            background-color: var(--kr-color-background-primary);
            box-shadow: 0px 0px 0px 3px rgba(0, 128, 255, 0.48);
            border: 1px solid var(--kr-color-tint-blue-50);
        }
        
        .v-search-button {
            padding: 0;
            height: 100%;
            width: 40px;
            padding: 10px 8px 10px 12px;
            background: transparent;
            opacity: 1;
            @include transition(opacity);
            &:hover {
                opacity: 0.4;
            }
        }

        .v-search-input {
            flex: 1;
            height: 100%;
        }
    }

    ::v-deep(.v-search-button .v-icon-btn) {
        height: 20px;
        width: 20px;
        margin: 0;
    }

</style>

<template>
    <div class="v-search">
        <flex-button-component class="v-search-button">
            <template v-slot:icon>
                <icon-search-component />
            </template>
        </flex-button-component>
        <default-input-component class="v-search-input" placeholder="Поиск" :isSearchInput="true"></default-input-component>
    </div>
</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import IconSearchComponent from "./icons/IconSearchComponent";
    import DefaultInputComponent from "./DefaultInputComponent";
    import FlexButtonComponent from "./FlexButtonComponent";

    const Component = Options;
    @Component({
        components: {
            DefaultInputComponent,
            FlexButtonComponent,
            IconSearchComponent
        },
        props: {
            // name: String,
            // items: Array,
            // selectedIndex: {
            //     default: 0,
            //     type: Number
            // }
        },
        // emits: ['change'],
        watch: {
            // selectedIndex: function(newValue)
            // {
            //     this.$refs.select.selectedIndex = newValue;
            // }
        }
    })
    export default class SearchComponent extends Vue
    {
        // initSelectedIndex = 0;
        // isFocused = false;

        // beforeMount()
        // {
        //     this.initSelectedIndex = this.selectedIndex;
        // }

        // onChange()
        // {
        //     this.$emit('change', this.$refs.select.selectedIndex);
        // }
    }
</script>