<style scoped lang="scss">
    

    .vc-select-option
    {
        position: relative;

        select
        {
            padding: 12px 16px;

            border: 1px solid #212121;
            box-sizing: border-box;
            border-radius: 12px;

            width: 100%;
            height: 48px;

            background: black;
            color: white;

            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    }

    .v-arrow
    {
        position: absolute;
        width: 20px;
        height: 20px;

        top: 50%;
        right: 16px;

        pointer-events: none;

        transform: translateY(-50%);
    }
</style>

<template>
    <div class="vc-select-option">
        <select ref="select" @change="onChange" class="kr-font-s-caption-1">
            <template v-for="(item, index) in items">
                <option :selected="index === initSelectedIndex">
                    <slot name="item" :item="item" :index="index">{{item.text}}</slot>
                </option>
            </template>
        </select>
        <icon-select-arrow-component class="v-arrow" />
    </div>

</template>

<script>
    import { Options, Vue } from "vue-class-component";
    import IconSelectArrowComponent from "./icons/IconSelectArrowComponent";

    const Component = Options;
    @Component({
        components: {
            SelectOptionComponent,
            IconSelectArrowComponent
        },
        props: {
            name: String,
            items: Array,
            selectedIndex: {
                default: 0,
                type: Number
            }
        },
        emits: ['change'],
        watch: {
            selectedIndex: function(newValue)
            {
                this.$refs.select.selectedIndex = newValue;
            }
        }
    })
    export default class SelectOptionComponent extends Vue
    {
        initSelectedIndex = 0;

        beforeMount()
        {
            this.initSelectedIndex = this.selectedIndex;
        }

        onChange()
        {
            this.$emit('change', this.$refs.select.selectedIndex);
        }
    }
</script>